<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="eveShippingCalc" ng-controller="CalcCtrl">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="calc.js"></script>
    <script src="calc-config.js"></script>
    <link rel="stylesheet" type="text/css" href="calc.css">
    <title>{{cfg.meta.title || 'ESC'}}</title>
  </head>

  <body>
    <h2>
      {{cfg.meta.header || "Eve Shipping Calculator"}}
      <a ng-if="cfg.meta.shorturl" ng-href="{{cfg.meta.shorturl}}">{{cfg.meta.shorturl}}</a>
    </h2>
    <h3 ng-if="cfg.meta.docs">
      Docs: <a href="{{cfg.meta.docs}}">{{cfg.meta.docs}}</a>
    </h3>

    <form novalidate name=calcForm>
    <div class="left">
      <!-- DEBUG: Status: {{status}} -->
      <div class="space">
        <h3 class="inline">Route:</h3>
      </div>
      <div class="clear">
        <label>Route</label>
        <select ng-model="formRoute" ng-options="route.text for route in routes">
        </select>
      </div>
      <div class="clear">
        <label>Pickup</label>
        <select ng-model="formPickup"
                ng-options="s.name for s in pickupStations"
                ng-disabled="formRoute.name === 'unset'">
        </select>
        <span ng-show="formPickup.url">
          (<a href={{formPickup.url}} target="_blank">dotlan</a><span ng-show="inEve">, <span class="ingame" ng-click="showStn(formPickup.id)">info</span></span>)
        </span>
      </div>
      <div class="clear">
        <label>Destination</label>
        <select ng-model="formDest"
                ng-options="s.name for s in destStations"
                ng-disabled="formRoute.name === 'unset'">
        </select>
        <span ng-show="formDest.url">
          (<a href={{formDest.url}} target="_blank">dotlan</a><span ng-show="inEve">, <span class="ingame" ng-click="showStn(formDest.id)">info</span></span>)
        </span>
      </div>
      <div class="clear">
        <label ng-class="{error: !calcForm.vol_input.$valid}">Volume (k m<sup>3</sup>)</label>
        <input name=vol_input
               type=number
               ng-model="formVol"
               min="0"
               max="{{cfg.rules.maxVolume}}"
               placeholder="E.g. {{cfg.rules.egVolume || '30'}}">
        (<span ng-class="{error: calcForm.vol_input.$error['max']}">max {{cfg.rules.maxVolume}}k m<sup>3</sup></span>)
      </div>
      <div class="clear">
        <label ng-class="{error: !calcForm.val_input.$valid}">Value (Mil ISK)</label>
        <input name=val_input
               type=number
               ng-model="formVal"
               min="0"
               max="{{cfg.rules.maxValue}}"
               placeholder="E.g. {{cfg.rules.egValue || '30'}}">
        (<span ng-class="{error: calcForm.val_input.$error['max']}">max {{cfg.rules.maxValue}}Mil ISK</span>)
      </div>
      <div class="clear" ng-show="cfg.rules.credit > 0">
        <label ng-class="{error: !calcForm.credit_input.$valid}">Credit (Mil ISK)</label>
        <input name=credit_input
               type=number
               ng-model="formCredit"
               min="0"
               max="{{cfg.rules.credit}}"
               placeholder="E.g. {{cfg.rules.egCredit || '3'}}">
        (<span ng-class="{error: calcForm.credit_input.$error['max']}">{{cfg.rules.credit}}Mil ISK {{cfg.rules.creditText}}</span>)
      </div>
      <div class="clear" ng-show="cfg.rules.containersAllowed">
        <label>Includes assembled containers/ships?</label>
        <input type="checkbox" ng-model="form_container">
        <span ng-show="cfg.rules.containerSurcharge > 0">({{cfg.rules.containerSurcharge}}Mil ISK surcharge)</span>
      </div>
      <div class="clear error" ng-show="errors">
        Errors:
        <ul>
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
      </div>
    </div>

    <div class="right">
      <div class="space">
        <h3 class="inline">Calculations:</h3>
      </div>
      <div class="clear">
        <label>Route type</label>
        <span ng-show="formPickup">{{formPickup.sec}}</span>
        <span ng-show="formPickup || formDest"> -> </span>
        <span ng-show="formDest">{{formDest.sec}}</span>
      </div>
      <div class="clear">
        <label>High-sec cost</label>
        <span ng-show="highsecCost">{{highsecCost.toFixed(2)}}M</span>
        <span class="note" ng-show="highsecCost > 0"> ({{highsecRate}})</span>
      </div>
      <div class="clear">
        <label>Null-sec cost</label>
        <span ng-show="nullsecCost">{{nullsecCost.toFixed(2)}}M</span>
        <span class="note" ng-show="nullsecCost > 0"> ({{nullsecRate}})</span>
      </div>
      <div class="clear">
        <label>Containers surcharge</label>
        <span ng-show="containerCost > 0">{{containerCost.toFixed(2)}}M</span>
      </div>
      <div class="clear">
        <label>Credit discount</label>
        <span ng-show="creditDiscount > 0">{{creditDiscount}}M</span>
      </div>
      <div class="clear">
        <label>Total cost</label>
        <span ng-show="totalCost !== ''">
          <font ng-show="totalCost >= 0">{{totalCost.toFixed(2)}}M</font>
          <font color=red ng-show="totalCost < 0">{{totalCost.toFixed(2)}}M</font>
        </span>
      </div>
    </div>

    <div class="footer">
      <div class="space">
        <h3 class="inline">Contract details:</h3>
        <span ng-show="inEve && form_pickup">
          (<span class="ingame" ng-click="createContract()">createContract</span>)
        </span>
      </div>
      <div class="clear">
        <label>Contract type</label>
        Courier
      </div>
      <div class="clear">
        <label>Availability</label>
        <input readonly size=30 value="Never Bend The Deadline">
        <span ng-show="inEve">
          (<span class="ingame" ng-show="inEve" ng-click="showCorp()">info</span>)
        </span>
      </div>
      <div class="clear">
        <label>Pickup station</label>
        {{form_pickup.full}}
      </div>
      <div class="clear">
        <label>Ship To</label>
        <input readonly size=30 value="{{form_dest.full}}">
      </div>
      <div class="clear">
        <label>Reward</label>
        <input readonly size=30 value="{{totalCost * 1000000}}">
      </div>
      <div class="clear">
        <label>Collateral</label>
        0
      </div>
      <div class="clear">
        <label>Expiration</label>
        1 Week
      </div>
      <div class="clear">
        <label>Days to complete</label>
        <input readonly value=7>
      </div>
      <div class="clear">
        <label>Description</label>
        <input readonly size=30 value="{{desc}}">
      </div>
    </div>
    </form>
  </body>
</html>
